<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body style="background-color:white">
    <div style="background-color:gray; width: 500px; height: 200px;">
        <p>Schedule</p>
        <select style="float:left;">
            {% for unit in grade %}
                <option value="{{ grade.id }}">{{ grade.0 }}</option>
            {% endfor %}
        </select>
        {% for day in weekday %}
            <div style="float:left;">
                {{ day.1 }}
                <ul style="list-style-type:none;margin:0; padding:0;">
                    {% for time in starttime %}
                        <li style="">{{ time.1 }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <div style="width:300px; height:150px; background-color:red">
        <p>Тут будет рассписание</p>
        {% for item in schedule %}
            <a href="#">{{ schedule.0 }}</a>
        {% endfor %}
     </div>
</body>
</html>